html, body {
    height: 100%;
    margin: 0;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bylh-header {
    flex: 0 1 auto;
}
.bylh-content {
    flex: 1 1 auto;
    overflow: auto;
}
.bylh-header {
    flex: 0 1 auto;
};